.mainContainer {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .sideImageContainer {
    flex: 0 0 auto; /* Prevents the side image container from growing */
  }
  
  .sideImage {
    width: 100vh; /* Adjust width as needed */
    height: 100vh; /* Maintain aspect ratio */
  }
  
 
  
.homeContainer {
    flex: 1;
    background-image: url("../assets/chat_background.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    /* gap: 5px; */
    height: 100vh;
    margin: 0 auto;
    /* max-width: 95vw; */
    overflow-x: hidden;
    /* padding-bottom: 20px; */
    /* padding-top: 20px; */
    position: relative;
    width: 100vw;
}
  
  
.request,
.response,
.responseDiv{
    width: 98%;
}
.formatHomeContainer{
    width: 98%;
    margin-bottom: 250px;
}
.textContainer{
    width: 98%;
}
.prevChats {
    width: 98%;
   
}
.newChat{
    width: 90%;
    position: absolute;
}
.request,
.response {
    min-height: 50px; /* or adjust based on your needs */
    word-wrap: break-word;
}

.request {
    background: lightgreen;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.response {
    background: lightblue;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.newChat {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.querybox {
    width: 50%;
    min-height: 100px; /* or adjust based on your needs */
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 15px;
    position: fixed;
    bottom: 100px;
}

.logout{
    background-color: red;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    position: fixed;
}


.loadButton {
    height: 50px;
    width: 80px;
    background: lightgreen;
    color: darkcyan;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    margin-left: 400px;
    cursor: pointer;
}

.loadButton:hover{
    background-color: rgb(234, 212, 255);
}

.responseButton {
    height: 50px;
    width: 80px;
    background: lightgreen;
    color: darkcyan;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    margin-left: 400px;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
}

.responseButton:hover{
    background-color: blueviolet;
}

.responseDiv {
    min-height: 50px; /* or adjust based on your needs */
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    
}

.head{
    font-size: 40px;
    color: blueviolet;
    margin-left: 200px;
    animation: blink-animation 0.9s infinite; 
}
  
  @keyframes blink-animation {
    0% {
      opacity: 1; /* Fully visible */
    }
    50% {
      opacity: 0; /* Fully transparent */
    }
    100% {
      opacity: 1; /* Fully visible */
    }
  }
  
.formatHomeContainer,
.textContainer,
.prevChats {
    margin-left: 10px;
    margin-top: 15px;
    /* padding: 20px; */
}

