.fullContainer{
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/login_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.loginButton{
    background: lightcyan;
    color: green;
    border: 1px solid navy;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
    width: 100px;
}

.heading{
    text-align: center;
    text-decoration:underline;
    color: rgba(0, 0, 255, 0.753);
}

.loginButton:hover{
    background-color: rgba(0, 0, 255, 0.753);
    color: black;
}

.otherButton{
    background: lightslategrey;
    color: white;
    border: 1px solid black;
    font-weight: 300;
    cursor: pointer;
}

.login{
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.loginData{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.loginWindow{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.otherButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    
}


.inputbox{
    height: 30px;
    width: 380px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}