.fullContainer{
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/login_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.signin{
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.signinButton{
    background: lightcyan;
    color: green;
    border: 1px solid navy;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
    width: 100px;
}

.otherButton{
    background: lightcyan;
    color: green;
    border: 1px solid navy;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
    width: 100px;
    margin-left: 0.4cm;
}

.signinButton:hover{
    background-color: rgba(0, 0, 255, 0.785);
    color:black;
}

.otherButton:hover{
    background-color: green;
    color:black;
}

.heading{
    text-align: center;
    text-decoration:underline;
    color: blue;
}

.signinData{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.already{
    margin-left: 2cm;
}

.signinWindow{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}